.item-viewer {
    background-color: black;
}

.item-title {
    color: white;    
    margin-left: 10px;
}

@media only screen and (max-width: 485px)  {
    
    mat-expansion-panel {
        width: 75%!important;
        margin: auto;
        padding: 10px;
    }

    app-item-metadata {
        width: 100%!important;
        margin: auto;
        padding: 10px;
    }

    .item-viewer {
        width: 75%!important;
        margin: auto;
    }

    // .item-title {
    //     width: 75%!important;
    //     margin: auto;
    // }
    
    ul {
        padding: 0px!important;
    }

    li {
        width: 75%!important;
    }
}