.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.book-viewer {
    height: 75vh;
    width: 75vh;
    margin: auto;
    overflow: auto;
}

.text-container {
    display: flex;
}

.text-page {
    width: 50%;
    text-align: center;
}

.button-container {
    display: flex;    
    width: 100%;
    margin: 8px 8px 8px 0;
    justify-content: center;
    align-items: center;
}

.page-nav-buttons {
    width: 120px;
}

.mat-form-field {
    width: 100%;
    margin: auto;
    flex-direction: row;
    flex-flow: column wrap;
}

.mat-accordion {
    width: 100%;
}


button {
    display: inline-block;
}