<meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no">
<div class="container">
    <div id="book-viewer" class="book-viewer" #viewer></div>
    <div class="button-container">
        <button mat-raised-button color="primary" id="prev-button" class="page-nav-buttons" (click)="prev()">Previous</button><button mat-raised-button color="accent" id="next-button" class="page-nav-buttons" (click)="next()">Next</button>
    </div>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
            <mat-panel-title>
                Page Info
            </mat-panel-title>
            </mat-expansion-panel-header>
            <form name="searchForm" class="center">
                <mat-form-field class="text-search-form-field">
                    <mat-label>Search</mat-label>
                    <input name="searchInput" matInput #searchInput type="search" [(ngModel)]="value" (keyup)="handleKeyDown($event)" (change)="newTextSearch = true">
                    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear">
                        <mat-icon>close</mat-icon>
                    </button>
                    <button id="search-button" type="button" matSuffix mat-fab color="primary" aria-label="Search" *ngIf="newTextSearch" (click)="
                    handleSearch(searchInput.value);">
                        <mat-icon>search</mat-icon>
                    </button>
                    <button type="button" matSuffix mat-fab color="primary" aria-label="Next" *ngIf="!newTextSearch" (click)="handleNextSearch();">
                        <mat-icon>forward</mat-icon>
                    </button>                    
                </mat-form-field>
            </form>
            <div class="text-container">
                <div id="page-1-text" class="text-page" [innerHTML]="pageOneText | linkify | highlightSearchTerms: 'text' | async">
                </div>
                <div id="page-2-text" class="text-page" [innerHTML]="pageTwoText | linkify | highlightSearchTerms: 'text' | async">
                </div>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    
</div>

