.center {
    display: flex;    
    justify-content: center;
    align-items: center;    
    width: 100%;
  }

form {
  margin: auto;
  width: 100%;
  vertical-align: middle;
}

mat-form-field {
  width: 100%;
}

:host {
  width: 100%;
  margin: 10px;
}