.row {
    display: flex;
  }
  
.column {
    float: left;
    padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

h1 {
    color: #73000a;
    line-height: 1.25em;
    font-family: "Berlingske Sans Extracondensed", "Impact", sans-serif;
    font-weight: 800;
    font-size: 3.125rem;
    margin-bottom: .5em;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}